<div class="container">
  <table class="table-style">
    <!-- Cabeçalho da Tabela -->
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Habilidades</th>
      </tr>
    </thead>

    <!-- Corpo da Tabela -->
    <tbody>
      <tr>
        <td><%= mentora.name %></td>
        <td><%= mentora.email %></td>
        <td><%= mentora.habilidades %></td>
      </tr>
    </tbody>
  </table>
</div>

