<div class="container">
  <div class="data">
    <%= render "form", mentora: @mentora %>
  </div>
  <div class="buttons">
    <div class="div-btn">
      <button class="btn-cadastro">
        <%= link_to "mostrar usuario", @mentora, class: "btn-style"%>
      </button> 
    </div>
    <div class="div-btn">
      <button class="btn-cadastro">
        <%= link_to "voltar", mentoras_path, class: "btn-style" %>
      </button> 
    </div>
  </div>
</div>